body {
    font-family: "FOT-ハミング Std D";
    font-size: 2rem;
    color: #ffdddd;
}

#comments {
    /* position: fixed;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px); */
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@keyframes live-chat-message-slidein {
    0% {
        left: 100%;
    }

    1% {
        left: 0;
    }

    98% {
        right: 0;
    }

    100% {
        right: 100vw;
    }
}

#comments>.comment-frame {
    margin: 0 calc(1em * 0.6);
    overflow: hidden;
    position: relative;
    animation-duration: 60s;
    animation-name: live-chat-message-slidein;
    animation-fill-mode: forwards;
    max-width: 750px;
}

#comments>.comment-frame>.comment {
    padding: 0 5px 3px;
    line-height: 1.5;
    text-shadow: 2px 2px 10px rgba(55, 55, 55, .65), -2px -2px 10px rgba(55, 55, 55, .65), -2px 2px 10px rgba(55, 55, 55, .65), 2px -2px 10px rgba(55, 55, 55, .65), 0px -2px 10px rgba(55, 55, 55, .65), 0px 2px 10px rgba(55, 55, 55, .65), -2px 0px 10px rgba(55, 55, 55, .65), 2px 5px 10px rgba(55, 55, 55, .65);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#comments>.comment-frame>.comment img {
    width: auto;
    height: 1.5em;
    vertical-align: middle;
}